---
import SqlServer from "./icons/SqlServer.astro";
import Photoshop from "./icons/Photoshop.astro";
import Tailwind from "./icons/Tailwind.astro";
import LinkButton from "./LinkButton.astro";
import GitHub from "./icons/GitHub.astro";
import Link from "./icons/Link.astro";
import Behance from "./icons/Behance.astro";
import Jumpseller from "./icons/Jumpseller.astro";
import CodeIcon from "./icons/Code.astro";
const TAGS = {
  PHOTOSHOP: {
    name: "Photoshop",
    class: "bg-black text-white",
    icon: Photoshop,
  },
  ILLUSTRATOR: {
    name: "Illustrator",
    class: "bg-black text-white",
    icon: "",
  },
  INDESIGN: {
    name: "InDesign",
    class: "bg-black text-white",
    icon: "",
  },
  SQL: {
    name: "SQL",
    class: "bg-black text-white",
    icon: SqlServer,
  },
  HTML: {
    name: "HTML",
    class: "bg-black text-white",
  },
  CSS: {
    name: "CSS",
    class: "bg-black text-white",
  },
  JAVASCRIPT: {
    name: "JavaScript",
    class: "bg-black text-white",
  },
  JUMPSELLER: {
    name: "Jumpseller",
    class: "bg-black text-white",
    icon: Jumpseller,
  },
};
const projects = [
  {
    title: "Poster Mob Psycho 100",
    description: "Poster para el anime Mob Psycho 100",
    image: "/img/projects/mob.png",
    link: "https://www.behance.net/gallery/227800757/Poster-Chigeo-Kageyama",
    tags: [TAGS.PHOTOSHOP],
    github: "",
  },
  {
    title: "Chetomi",
    description: "Ecommerce de Chetomi - Comida Argentina",
    image: "/img/projects/chetomiweb.webp",
    link: "https://www.chetomi.cl",
    tags: [TAGS.JUMPSELLER],
    github: "",
  },
];
import "../styles/global.css";
---

<style>
  .image-container {
    animation: reveal both;
    animation-timeline: view();
    animation-range: entry 20% cover 30%;
  }
</style>
<div class="w-full h-full flex flex-col">
  <h2
    class="mobile-text-3xl xs:mobile-text-xl sm:mobile-text-2xl dark:text-[#ccf381] text-[#ccf381] flex gap-x-2 xs:gap-x-4 mt-2 justify-center items-center fade-up image-container pt-10 pb-10 xs:pt-12 sm:pt-14"
    style="animation-delay: 0.2s;"
  >
    <CodeIcon class="size-6 xs:size-5 sm:size-6" />
    Proyectos
  </h2>
  <div
    class="flex-1 flex flex-col gap-6 xs:gap-8 mobile-px pb-8 max-w-4xl mx-auto"
  >
    {
      projects.map(({ image, title, description, tags, link, github }) => (
        <article class="flex flex-col lg:flex-row gap-4 xs:gap-6 group bg-gray-900/50 rounded-xl p-4 xs:p-6   hover:border-gray-700 hover:bg-gray-800/50 transition-all duration-300 image-container">
          <div class="w-full lg:w-1/2 image-container">
            <div class="relative overflow-hidden rounded-lg image-container">
              <img
                alt={title}
                loading="lazy"
                src={image}
                class="w-full h-auto object-contain transition-transform duration-500 lg:group-hover:scale-105"
              />
            </div>
          </div>

          <div class="w-full md:w-1/2 md:max-w-lg">
            <h1 class="text-xl font-bold text-gray-100">{title}</h1>
            <div class="flex flex-wrap mt-2">
              <ul class="flex flex-row mb-2 gap-x-2">
                {tags.map((tag) => (
                  <li>
                    <span
                      class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 `}
                    >
                      <tag.icon class="size-3 xs:size-4 flex-shrink-0" />
                      {tag.name}
                    </span>
                  </li>
                ))}
              </ul>
              <div class="mb-2 mt-2 text-gray-400">{description}</div>
              <footer class="flex items-center mt-1 gap-4">
                {link && link.includes("behance") && (
                  <LinkButton href={link}>
                    <Behance class="size-5 xs:size-6" />
                    Behance
                  </LinkButton>
                )}
                {github && (
                  <LinkButton href={github}>
                    <GitHub class="size-5 xs:size-6" />
                    GitHub
                  </LinkButton>
                )}
                {link && !link.includes("behance") && (
                  <LinkButton href={link}>
                    <Link class="size-4 xs:size-4" />
                    Preview
                  </LinkButton>
                )}
              </footer>
          </div>
          </div>
        </article>
      ))
    }
  </div>
</div>
